<article id="welcome">
   <section class="container">
        <div class="row">
            <div class="column">
                <i class="material-icons">input</i><br>
                <h4>Einfacher Zugang</h4>
                    Inzwischen liegen sehr leistungsfähige grafische Oberflächen als Erweiterung von R vor. Diese ermöglichen ein komfortables Arbeiten, z.B. mit <a href="https://www.rstudio.com/">RStudio</a>. 
            </div>
                
            <div class="column" width="auto">
                <i class="material-icons">apps</i><br>
                <h4>Interaktive Apps</h4>
                    Viele Webseiten verwenden einen interaktiven Zugriff auf Daten, der sich in R mit der Erweiterung <a href="https://shiny.rstudio.com/">Shiny</a> leicht realisieren und in Websites einbauen lässt.
            </div>
                
            <div class="column" width="auto">
                <i class="material-icons">cast_for_education</i><br>
                <h4>Selbstlernen</h4>
                    Die R Community bietet viele Möglichkeiten, um sich selbst den Code beizubringen, z.B. mit Tutorials wie <a href="https://swirlstats.com/">Swirlstats.com</a> oder vielen anderen Plattformen.
            </div>
        </div>
    <br>
    </section>
</article>