<article id="welcome"> 
    <section class="container">
       <div class="row">
        
        <div class="column">
            <i class="material-icons">network_check</i><br>
            <h4>Karriere-Turbo</h4>
            Data literacy ist eine der wichtigsten Kompetenzen für den Berufserfolg. Bewerber mit spezifischen Skills in Python oder R werden in allen Berufsfeldern gesucht.
        </div>
          
        <div class="column">
          <i class="material-icons">code</i><br>
          <h4>Goldstandard</h4>
          Für viele wissenschaftliche Publikationen ist es inzwischen notwendig, die verwendeten Daten und den Code dazu mitzuliefern. R liefert dazu die geeigneten Instrumente.
        </div>
        
        <div class="column">
          <i class="material-icons">trending_up</i><br>
          <h4>Reproduzierbarkeit</h4>
          Die Reproduzierbarkeit und komplette Offenlegung von Simulationen, Experimenten oder Analysen ist ein wichtiger Bestandteil der Computational Science.
        </div>
        
      </div>
    <br><br><br>
    </section>
</article>