<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<article id="welcome"> 
    <section class="container">
        
        
        <div class="welcome_img" id="welcome_whyR"></div>
            
        <div class="welcome_info">
            <!--<div class="in_page_nav">
                <button onclick="window.location.href = '#lectures';">AI Lectures</button>
                <button onclick="window.location.href = '#training';">Applied AI Training</button>
            </div>-->
         
        <div class="welcome_info">
            <br>
            <h4>
                Es gibt gute Gründe, die für den Einsatz von R sprechen
            </h4> <br>
            Im Folgenden erklären wir euch, welche Vorteile der Einsatz von R mit sich bringt und wie man R in der Lehre einsetzen kann.
        </div>
     
    </section>
</article>