<article id="softwareinstallationen"> 
    <section class="container">
        
            <header class="container">
        <h1 class="hdm_h"><span>Softwareinstallation</span></h1>
    </header>
    <section class="content container">
            <p>
                <strong>1. Installation von R (aktuelle Version)</strong><br>
                >><a href="https://cran.r-project.org/">Link</a>.<br><br>
                
                <strong>2. Installation von RStudio (IDE /GUI -> Gold Standard)</strong><br>
                >><a href="https://www.rstudio.com/products/rstudio/download/#download">Link</a><br><br>
                
                <strong>3. Installation von Add-ons (GUIs) </strong><br>Das hilft Personen, die mit anderen Plattformen bereits vertraut sind.<br>
                <ul>
                    <li><a href="https://www.blueskystatistics.com/Articles.asp?ID=282">Blueskystatistics</a> (Migration von SPSS oder ähnlichen Tools)</li>
                    <li><a href="http://www.deducer.org/pmwiki/index.php?n=Main.DeducerManual?from=Main.HomePage">Deducer</a></li>
                </ul>
                Beides sind GUIs, die speziell für den Übergang von SPSS und/oder Excel geschrieben sind.
            </p>
        </div>
    </section>
</article>