<article id="videoeinfuehrungen"> 
    <section class="container">
        
        
                 <header class="container">
        <h1 class="hdm_h"><span>Video-Einführungen</span></h1>
    </header>
    <section class="content container">
            <p><br>
                <h4> Lynda (mit Hochschulzugang)</h4>

Inzwischen gibt es auf Lynda gute Einführungen in R. Ich habe nicht alle angeschaut, könnte mir aber vorstellen, dass Euch solche helfen könnten.<br><br>

<strong>Hier eine generelle Übersicht</strong><br>
<a href="https://www.lynda.com/R-training-tutorials/1570-0.html">https://www.lynda.com/R-training-tutorials/1570-0.html</a><br><br>

Vielversprechend sind v.a.

<ul>
    <li><a href="https://www.lynda.com/Excel-tutorials/R-Excel-Users/474684-2.html">R for Excel Users</a>
    </li>
    <li>
        <a href="https://www.lynda.com/R-tutorials/R-Statistics-Essential-Training/142447-2.html">R Statistics Essential Training</a>
    </li>
</ul>

<h4>Offene Einführungen</h4>

<strong>R Programming 101</strong><br>
Sehenswerter Youtube Channel mit grundlegender Einführung<br>
<a href="https://www.youtube.com/channel/UCfJyQ3P2k_SuqfxVdqIEQNw">https://www.youtube.com/channel/UCfJyQ3P2k_SuqfxVdqIEQNw</a><br><br>

<strong>Learn R from Scratch</strong><br>
Offener Youtube Channel, vertiefende Inhalte bei Udemy<br>
<a href="https://www.youtube.com/user/TheLearnR">https://www.youtube.com/user/TheLearnR</a><br><br>

<h4>Kommerzielle Kurse/Plattformen</h4>

<strong>Datacamp</strong><br>
<a href="https://www.datacamp.com/courses/free-introduction-to-r">https://www.datacamp.com/courses/free-introduction-to-r</a><br>
            </p>
    </section>
    </section>
</article>