<article id="welcome"> 
    <section class="container">
        
        
        <div class="welcome_img" id="welcome_howTo"></div>
            
        <div class="welcome_info">
            <!--<div class="in_page_nav">
                <button onclick="window.location.href = '#lectures';">AI Lectures</button>
                <button onclick="window.location.href = '#training';">Applied AI Training</button>
            </div>-->
            <p>
                Lust auf R bekommen? Hier gibt es alles für die ersten Schritte mit R.
            </p> 
        </div>
    </section>
</article>