<article id="welcome"> 
    <section class="container">
        
        <div class="welcome_img" id="welcome_network"></div>
        <div class="welcome_info">
            <p>
                Für das Wintersemester 2019 wollen wir die R-Community in der Region Stuttgart weiter vernetzen und zu R-Meetups an die HdM einladen.<br><br>

Bitte kontaktieren Sie uns bei Interesse gerne:
<a href="mailto:hdm-r@hdm-stuttgart.de">hdm-r@hdm-stuttgart.de</a><br><br>

Zudem wollen wir im Wintersemester einen Hackathon mit gesellschaftlicher Relevanz mit einem offenen Data-Set durchführen.
            </p>
        </div>
    </section>
</article>
