<article id="insitutes"> 
    <section class="container">
        
        
                 <header class="container">
                    <h1 class="hdm_h"><span>Unterstützende Institute der Hochschule</span></h1>
                </header>
    <section class="content container">
      
   <br>   
      
<div class="row">
  <div class="column">
    
    <img src="../img/logo_150.jpg" style="width:auto;height:90px;"><br>
     <a href="https://www.hdm-weiterbildung.de/">Weiterbildungszentrum, HdM</a>
    
  </div>
  <div class="column">
    
    <img src="../img/logo_ide.jpg" style="width:auto;height:90px;"><br>
        <a href="https://www.digitale-ethik.de/">Institut für Digitale Ethik, HdM</a>
    
  </div>
  
    <div class="column">
    
        <img src="../img/logo_generator.png" style="width:auto;height:90px"><br>
        <a href="https://startupcenter-stuttgart.de/">Startup Center / Generator, HdM</a>
    
  </div>
  <div class="column">
    <br>
    <img src="../img/Logo_farbig.png" style="width:auto;height:40px;"><br>
        <br><a href="https://www.lnd.hdm-stuttgart.de/">Center for Learning and Development, HdM</a>
    
  </div>
</div>

   
    </section>
    </section>
</article>