<article id="welcome"> 
    <section class="container">
        
        
        <div class="welcome_img" id="welcome_contact"></div>
            
        <div class="welcome_info">
            <!--<div class="in_page_nav">
                <button onclick="window.location.href = '#lectures';">AI Lectures</button>
                <button onclick="window.location.href = '#training';">Applied AI Training</button>
            </div>-->
            <p>
                Jan Kirenz, Roland Mangold und Swaran Sandhu haben die Initiative R an der HdM aufgrund der eigenen Erfahrungen in Forschung und Lehre gestartet. Daneben wird die Initiative vom Land Baden-Württemberg in der Projektlinie <a href="http://www.hochschuldidaktik.net/index.php?lg=de&main=HUMUS&site=08:01:00">Humus</a> gefördert.
            </p> 
        </div>
    </section>
</article>