<article id="featured_news">
    <header class="container">
        <h1 class="hdm_h"><span>News</span></h1>
    </header>

    <section class="content container">
        <div class="slideshow-container">
            {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
            
                <div class="slide-page">
                {{ range first 3 $pages }}
                <div class="news_preview">
                    <a href="{{ .Permalink }}">
                        <img src="/img/{{ .Params.image }}">
                        <h6>{{ dateFormat "02 January, 2006" .Date }}</h6>
                        <h5>{{ .Params.short_title }}</h5>
                        <hr>
                        <p>{{ .Params.short_description }}</p>
                    </a>
                </div>
                {{ end }}
                </div>
        </div>
        <!--
        <a class="prev" onclick="plusSlide(-1)">&#10094;</a>
        <a class="next" onclick="plusSlide(1)">&#10095;</a>-->
        <div class="slideshow-dots">
            <span class="dot" onclick="showSlide(1)"></span>
            <!--<span class="dot" onclick="showSlide(2)"></span>
            <span class="dot" onclick="showSlide(3)"></span>-->
        </div>
    </section>
</article>