<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}
    
    <main>
        {{ block "main" . }}
        {{end}}
    </main>

    {{ partial "footer.html" . }}
    {{ if .Params.js }}
        <script src={{ .Params.js }}></script>
    {{ end }}
    <script>
        function toggle_menu() {
            var nav    = document.getElementById("nav");
            for (let i = 0; i < nav.children.length; i++){
                x = nav.children[i];
                if (x.style.display === "block") {
                    x.style.display = "none";
                } else {
                    x.style.display = "block";
                }
            }  
        }
    </script>
</body>
</html>