{{ define "main" }}
    <!-- DEBUG INFO: NEWS list template -->
    {{ .Content }}    
    <section class="container" id="news_list">
        {{ range .Pages }}
            <a href="{{.Permalink}}" class="news-preview">
                <div class="publishedDate">{{ dateFormat "02 January, 2006" .Date }}</div>
                <div class="description">
                    <h3>{{ .Params.short_title }}</h3>    
                    <p> {{ .Params.short_description }} </p>
                </div>
                <img src="/img/{{ .Params.Image }}" alt="" class="thumbnail">
            </a>
        {{ end }}
    </section>
{{end}}