<article id="aof_article">
    <section class="container" id="aof">
        <div class="thumb">
            <h1 class="hdm_h"><span>Teaching</span></h1>
            <a href="/teaching/">
                <div class="thumb_bg" id="thumb_teaching"><span>Learn More +</span></div>   
            </a>
        </div>
        <div class="thumb">
            <h1 class="hdm_h"><span>Research</span></h1>
            <a href="/research/">
                <div class="thumb_bg" id="thumb_research"><span>Learn More +</span></div>
            </a>
        </div>
        <div class="thumb">
            <h1 class="hdm_h"><span>Startups</span></h1>
            <a href="/startups/">
                <div class="thumb_bg" id="thumb_startups"><span>Learn More +</span></div>
            </a>
        </div>
    </section>
</article>