<article id="welcome"> 
    <section class="container">
        
        
        <div class="welcome_img" id="welcome_whatsR"></div>
            
        <div class="welcome_info">
            <!--<div class="in_page_nav">
                <button onclick="window.location.href = '#lectures';">AI Lectures</button>
                <button onclick="window.location.href = '#training';">Applied AI Training</button>
            </div>-->
            <p>  
            <br><br>
        <h4>Kurz erklärt</h4>
        <p>
            R ist eine quell-offene (open-source) Programmiersprache, die von Wissenschaftler und Praktikern auf der ganzen Welt für die Analyse, Simulation und Visualisierung von Daten eingesetzt wird. Dabei wird die Anwendung kontinuierlich weiterentwicklt und ist durch sogenannte Pakete kostenlos erweiterbar.
</p><p>
Es gibt viele Anwendungsszenarien für R und eine hohe Flexibilität. Viele Hochschulen und Wissenschaftler haben sich von typischen kommerziellen Lösungen (SPSS, Stata, Matlab, etc.) verabschiedet und setzen stattdessen auf R. Die hohe Flexibilität und Erweiterungsmöglichkeit durch Pakete lässt massgeschneiderte Lösungen für viele praktischen Probleme zu.
        </p>
        </div>
    </section>
</article>