<article id="welcome">
    <section class="container">
        <div class="welcome_info">
        <h4>Für Ein- und Umsteiger gemacht</h4>
        <p>
Inzwischen liegen viele Erweiterungen vor, die eine grafische Benutzeroberfläche für R liefern (z.B. RStudio, Deducer, Blueskystatistics). Damit wird das Programm auch für Ein- und Umsteiger leichter nutzbar. 
</p><p>
Dabei ist R nicht an eine Disziplin gebunden, sondern wird sowohl in den Naturwissenschaften (Biologie, Zoologie, Geologie, etc.), Sozial- und Geisteswissenschaften (Geschichte, Soziologie, Psychologie, etc.) aber auch den Wirtschaftswissenschaften (BWL, VWL, etc.) und der Informatik eingesetzt. 
        </p>
        <br>
        <div class="text_img" id="text_wahtsR_box2"></div>
        </div>
    </section>
</article>