<article id="welcome">
    <section class="container">
        <div class="welcome_info"> 
        <h4>Vielseitige Einsatzmöglichkeiten und Anwendungsfälle</h4>
        <p>
Neben reinen Analysewerkzeugen liefert R viele Möglichkeiten, die Daten zu visualisieren und auch nach bestimmten Formaten zu publizieren. 
</p><p><br>
Typische Anwendungsfälle sind:
        </p>
        <ul>
            <li>statistische Analysen</li>
            <li>Visualisierung von Daten</li>
            <li>Datenanalyse</li>
            <li>Machine Learning</li>
            <li>Simulation</li>
            <li>Programmierung</li>
            <li>...</li>
        </ul>
        </div>
    </section>
</article>