<article id="people_info"> 
    <section class="container">
       
        {{ $people := .Site.GetPage "/people" }}
        {{ range $people.Resources }}
            <div class="info_card" id="{{ .Params.Title }}">
                <div class="portrait">
                    <img src="/img/people/{{ .Params.image }}" alt="img">
                    <h3>{{ .Params.name }}</h3>
                </div>
                <div class="info">
                    <div>
                        <h2>{{ .Params.role }}</h2>
                        <h4> {{ range  .Params.course_of_study}}{{ . }} {{ end }}</h4> 
                    </div>
                    <div class="info_contact">
                        <p>phone: {{ .Params.phone }} </p>
                        <p>e-mail: {{ .Params.email }}</p>
                        <p>website: {{ .Params.website }}</p>
                    </div>
                    <div>
                        <p>
                        {{ range  .Params.expertise }}
                            {{ . }},
                        {{ end }}
                        </p>
                    </div>
                </div>
            </div>
        {{ end }}
    </section>
</article>